
@{
    ViewBag.Title = "Chat";
}
<div class="container">

    <h2 class="chosenteam"></h2>
    
    <input type="button" id="clearteams" value="Clear teams"/>
    
    <div hidden class="gameOver"><h2>Game Over!</h2></div>
    <div id="question"></div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function() {
            var chat = $.connection.gameHub;

            chat.client.addPlayerToTeam = function(name) {
                $('#question').append('<li><strong>' + name + '</li>');
            };


            chat.client.addNewMessageToPage = function(name, message) {
                $('#question').append('<li><strong>' +
                    htmlEncode(name) +
                    '</strong>: ' +
                    htmlEncode(message) +
                    '</li>');
            };

            chat.client.nextQuestion = (quiz) => {
                $('#question').hide();
                $('#question').empty();
                $('#question').append(`<h3><strong>${quiz.question}'</h3>`);
                $('#question').append('<div class="answers">');
                $.each(quiz.Answers,
                    function () {
                        $('#question').append(`<div class="answer-panel panel"><div class="answer"><h4>${this}</h4></div></div>`);
                    });
                $('#question').append("</div>");
                $('#question').fadeIn();
            }

            chat.client.newTeam = (team) => {
                $('.teams').append('<h3><strong>' + team + '</h3>');
            }

            chat.client.gameOver = () => {
                $('#question').hide();
                $(".gameOver").fadeIn();
            }

            chat.client.resetTeams = () => {
                $('.teams').empty();
            }

            chat.client.addPlayerToTeam = (players) => {
                $('.teamplayers').empty();
                $.each(players,
                    function() {
                        $('.teamplayers').append('<li><strong>' + this.Name + '</li>');
                    });
            }


            $('#message').focus();

            $.connection.hub.start().done(function() {

                $(document).on('click',
                    '.answer',
                    function() {
                        chat.server.answer($(".chosenteam").text(), $(this).children('h4').text());
                        $(".answer").removeClass("selected");
                        $(this).addClass("selected");

                    });

                $("#createteam").click(() => {
                    chat.server.addTeam($("#teamname").val(), $("#displayname").val());
                    $(".chosenteam").html($("#teamname").val());
                    teamSelected($(this).text());
                });

                $("#startquiz").click(function() {
                    chat.server.startGame();
                });

                $("#sendmessage").click(function() {
                    chat.server.answer($(".chosenteam").text(), $("#message").val());
                });

                $("#clearteams").click(function() {
                    chat.server.clearTeams();
                });

                $(document).on('click',
                    ".teams h3",
                    function() {
                        $(".chosenteam").html($(this).text());
                        chat.server.joinTeam($(this).text(), $("#displayname").val());
                        teamSelected($(this).text());
                    });

                $("#addplayer").click(function() {
                    chat.server.addPlayerNameToTeam($(".chosenteam").text(), $("#playername").val());
                });
            });

        });

        function teamSelected(name) {
            $(".teamname").html(name);
            $(".teams").fadeOut();
            $("#teamname").fadeOut();
            $("#createteam").fadeOut();
            $("#playername").fadeIn();
            $("#addplayer").fadeIn();
        }

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;


        }
    </script>
}